#room-container{

    position: absolute;
    display: flex;
    top: 450px;
    border-radius: 30px;
    width: 1200px;
    height: 2400px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    
}

.room-label{
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    left: 500px;
    background-color: #545dc7;
    width: 1000px;
    height:450px;
    border-radius: 30px;
}

.room-banner-img{
    height: 100%;
    width: 450px;
    border-radius: 30px;
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end:5;
}

.price-p{
    position: relative;
    left: 398px;
    top: 123px;
    color: #FFF8DC;
    font-size: 30px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
}

.desc-p{
    position: relative;
    left: 30px;
    top: 50px;
    width:500px;
    color: #FFF8DC;
    font-size: 30px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    
}

.metters-p{
    position: relative;
    color: #FFF8DC;
    top:123px;
    left: 30px;
    font-size: 30px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    
}
.rooms-p{
    position: relative;
    left: 265px;
    top: 123px;
    color: #FFF8DC;
    font-size: 30px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;

}
.bathrooms-p{
    position: relative;
    left: 160px;
    top: 123px;
    color: #FFF8DC;
    font-size: 30px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
}

.room-banner-svg{
    position: relative;
    top: -580px;
    left: 220px;
    width: 50px;
    height: 50px;
}

.room-label img:nth-of-type(2){
    position: relative;
    width: 50px;
    height: 50px;
    left: 185px;
    top: 123px;
    grid-row-start: 1;
    grid-column-start: 1;
}
.room-label img:nth-of-type(3){
    position: relative;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 123px;
    grid-row-start: 1;
    grid-column-start: 1;
}
.room-label img:nth-of-type(4){
    position: relative;
    width: 50px;
    height: 50px;
    left: 465px;
    top: 123px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.room-label img:nth-of-type(5){
    position: relative;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 190px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.room-label img:nth-of-type(6){
    position: relative;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 263px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.username-p{
    position: relative;
    left: 100px;
    top: 200px;
    color: #FFF8DC;
    font-size: 20px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
}

.direction-p{
    position: relative;
    left: 100px;
    top: 280px;
    color: #FFF8DC;
    font-size: 20px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
}

.description-p{
    position: absolute;
    top: 350px;
    left: 40px;
    font-size: 20px;
    color:#FFF8DC;

}

