#room-container{

    position: absolute;
    display: flex;
    top: 450px;
    border-radius: 30px;
    width: 1800px;
    height: 1300px;
    left:-220px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    
}

.room-label{
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    left: 300px;
    background-color: #545dc7;
    width: 800px;
    height:500px;
    border-radius: 30px;

}

.room-banner-img{
    height: 100%;
    width: 450px;
    border-radius: 30px;
    grid-row-start: -3;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end:5;
}

.price-p{
    position: relative;
    
    left: 33px;
    top: 178px;
    color: #FFF8DC;
    font-size: 18px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
}

.desc-p{
    position: relative;
    left: 30px;
    top: 40px;
    color: #FFF8DC;
    font-size: 24px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    
}

.metters-p{
    position: relative;
    color: #FFF8DC;
    top:123px;
    left: 30px;
    font-size: 18px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    
}
.rooms-p{
    position: relative;
    left: 135px;
    top:178px;
    color: #FFF8DC;
    font-size: 18px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;

}
.bathrooms-p{
    position: relative;
    left: 135px;
    top: 123px;
    color: #FFF8DC;
    font-size: 18px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
}

.room-banner-svg{
    position: relative;
    top: -580px;
    left: 220px;
    width: 50px;
    height: 50px;
}

.room-label img:nth-of-type(2){
    position: relative;
    width: 35px;
    height: 35px;
    left: 158px;
    top: 119px;
    grid-row-start: 1;
    grid-column-start: 1;
}
.room-label img:nth-of-type(3){
    position: relative;
    width: 35px;
    height: 35px;
    left: 158px;
    top: 178px;
    grid-row-start: 1;
    grid-column-start: 1;
}
.room-label img:nth-of-type(4){
    position: relative;
    width: 30px;
    height: 30px;
    left: 35px;
    top: 243px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.room-label img:nth-of-type(5){
    position: relative;
    width: 30px;
    height: 30px;
    left: 35px;
    top: 298px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.room-label img:nth-of-type(6){
    position: relative;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 330px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.username-p{
    position: relative;
    left: 100px;
    top: 246px;
    color: #FFF8DC;
    font-size: 18px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
}

.direction-p{
    position: relative;
    left: 100px;
    top: 302px;
    color: #FFF8DC;
    font-size: 18px;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
}

.description-p{
    position: absolute;
    top: 360px;
    left: 40px;
    font-size: 18px;
    color:#FFF8DC;

}

.room-info{
    position: relative;
    top:260px;
    left: 700px;
    font-family: "Proxima Nova", system-ui, sans-serif;
    width: 100px;
    height:50px;
    
    color: #545dc7;
    border-color: #545dc7;
    border-width: 1px;
    border-radius: 15px;
    font-weight: bold;
}
.room-info:hover{
    background-color: #8289d4;
    transition-duration: 0.5s;
    color:antiquewhite
}

.room-info p{
    position: relative;
    left: 38px;
    top: -12px;
}

